name: Build LCDResetTool

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '4.8.x'

    - name: Restore NuGet packages
      run: dotnet restore

    - name: Build EXE
      run: msbuild LCDResetTool.sln /p:Configuration=Release /p:Platform=x64
